@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Proza Libre";
        font-weight: 700;
        src: url("/docs/fonts/prozalibre-bold-webfont.woff2") format("woff2"),
        url("/docs/fonts/prozalibre-bold-webfont.woff") format("woff");
    }
}